html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
:root {
  --big-space: 1rem;
  --small-space: 0.5rem;
}
body {
  margin: var(--big-space);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
button, input, textarea {
  font-family: inherit;
  font-size: 1.2rem;
}

.container {
  width: 55rem;
  margin: 0 auto;
  padding: var(--big-space);

  display: grid;
  gap: var(--big-space);
  grid-template-columns: 15rem 1fr;

  background-color: lightblue;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}
.sidebar li {
  cursor: pointer;
  padding: var(--big-space);
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}

.content ul {
  padding: var(--small-space);
  background-color: white;

  display: flex;
  gap: var(--small-space);
}
.content li {
  background-color: rgb(236, 236, 236);
  padding: var(--small-space);
}

.main-content {
  flex: 1;
  padding: var(--small-space);
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}
.main-content > * {
  background-color: lightgray;
  padding: var(--big-space);
}

/* new-project form */

.main-content .new-projectForm {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}

.new-projectForm .form-row {
  display: flex;
  flex-direction: column;
  gap: var(--small-space);

  color: white;
  font-weight: bold;
  background-color: lightcoral;
  padding: var(--small-space);
}

.new-projectForm textarea {
  resize: none;
}

.new-projectForm input,
.new-projectForm textarea {
  padding: var(--small-space);
}