html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
:root {
  --big-space: 1rem;
  --small-space: 0.5rem;
}
body {
  margin: var(--big-space);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  font: inherit;
  cursor: pointer;
}

.container {
  width: 55rem;
  margin: 0 auto;
  padding: var(--big-space);

  display: grid;
  gap: var(--big-space);
  grid-template-columns: 15rem 1fr;

  background-color: lightblue;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}
.sidebar li {
  padding: var(--big-space);
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);
}

.content ul {
  padding: var(--small-space);
  background-color: white;

  display: flex;
  gap: var(--small-space);
}
.content button {
  padding: var(--small-space);
}

.main-content {
  padding: var(--small-space);
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}
.main-content > * {
  background-color: lightgray;
  padding: var(--big-space);
}