html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
:root {
  --big-space: 1rem;
  --small-space: 0.5rem;
}
body {
  margin: var(--big-space);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
button, input, textarea {
  font-family: inherit;
  font-size: 1.2rem;
}

.container {
  width: 55rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 12rem 1fr;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--big-space);

  background-color: rgb(238, 238, 238);
}

.sidebar li {
  display: flex;
  gap: var(--small-space);

  cursor: pointer;
  padding: var(--small-space);
}

/* content */

.content {
  padding: 3rem;
  padding-top: 0;
}

.content li {
  display: flex;
  gap: var(--small-space);

  padding: var(--big-space);
  /* border-top: thin solid black; */
}

.content h2,
.content h3 {
  padding: var(--big-space);
  border-bottom: thin solid black;
}

.new-button {
  width: 100%;
  padding: var(--small-space);
}